/* header image styling */
.hero-image {
    margin: 0 auto;
    width: 100%;
}

.small-header {
    width: 100%;
    padding: 3rem;
    background-image: url("../img/products.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}
  
.small-header-image {
    visibility: hidden;
    height: auto;
    width: 100%;
}

.product-image { 
    max-width: 224px;
    max-height: 224px;
}

h1 {
    margin-bottom: 2rem;
}

figure {
    margin-left: 1.5rem;
}

  /* flexbox container for filter list */
.filter-flexbox-container { 
    display: flex; 
    flex-direction: column;
	flex-wrap: nowrap; 
	justify-content: flex-start; 
	align-items: flex-start; 
    padding: 1.7rem 4rem;
    border-right: 1.5px solid #ECEEF0;
    position: absolute;
}

  /* filter items as flex units */
.filter-flex-item { 
    padding-bottom: 10rem;
}


/* list styling */
ul { 
    list-style-type: none;
    margin-left: -2.5rem;
    margin-top: 0.25rem;
    padding-bottom: 1rem;
    line-height: 0.5rem;
}

li{
    margin-bottom: 1rem;
}

h4 {
    padding-top: 2rem;
}



/* Color Filter Buttons */
.color-container { 
    max-width: 10rem;
    padding-bottom: 1rem;
}

.button { 
    background: #C0CFC2;
    color: white;
    font-size: 20px;
    border-radius: 1rem;
    border: none;
    padding: 1rem 1rem;
    transition-property: background-color; 
    transition-duration: 0.5s; 
    transition-timing-function: ease-out; 
    text-align: center;
    font-size: 16px;
    margin-left:0;
}

.button:active, .button:hover, .button:focus {
	color: #FFFFFF;
	background-color: #788F7B;
}

.black-button{
    background: black;
}

.white-button{
    background-color: white;
    border: 0.8px solid #9A9A9A;
}

.red-button{
    background-color: red;
}

.beige-button{
    background-color: #f8dc9a
}

.green-button{
    background-color: darkgreen;
}

.grid {
    display: grid;
}

/* grid gutters for filter */ 
.grid.add-gutters { 
    grid-column-gap: 0.2rem;
    grid-row-gap: 1.8rem; 
}

/* grid gutters for content units */ 
.grid.units-add-gutters { 
    grid-column-gap: 1.8rem;
    grid-row-gap: 5rem; 
}

/* grid layout for content units/colour filters */ 
.grid.three-column { 
    /* margin-left: 16%; */
    /* margin-right: 19%; */
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-rows: auto;
    grid-auto-flow: row;    
}

/* captions for unit pictures: price, name */
.content-unit-text {
    padding-top: 2rem;
    text-align: left; 
    line-height: 1.5rem;  
    margin-bottom: -2rem;
}

.product-name {
    font-weight: 700;
    font-size: 18px;
}

.price {
    line-height: 5rem;
}


/* spacing and alignment for size filters */
.size-filter-spacing {
    text-align: center;

    /* change this for numbers to match section header */ 
    margin-left: -3.3rem;
    
    /* change this to fix spacing in between numbers */ 
    padding-right: 1.5rem;

}

/* spacing in between numbers on size filter list */ 
.grid.filter-add-gutters { 
    grid-column-gap: 0.4rem;
    grid-row-gap: 1rem; 
}

/* Custom Check Box Styling: https://www.w3schools.com/howto/howto_css_custom_checkbox.asp */
/* Customize the label (the container) */
.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default checkbox */
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    /* background-color: black; */
  }
  
  /* On mouse-over, add a grey background color */
  .container:hover input ~ .checkmark {
    /* background-color: #ccc; */
    border: 2px solid black;
    /* box-shadow: 0px 0px 10px 1px #ccc; */
  }
  
  /* When the checkbox is checked, add a blue background */
  .container input:checked ~ .checkmark {
    /* background-color: #2196F3; */
    border: 2px solid black;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  /* .container input:checked ~ .checkmark:after {
    display: block;
  } */
  
  /* Style the checkmark/indicator */
  .container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid black;
    /* border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg); */
  }

  .checkbox-line-spacing { 
     padding-top: 0.15rem;
     padding-bottom: 0.15rem;
  }

  /* container for individual units */
  .unit-container {
    background: white;
    border: 1.5px solid #ECEEF0;
    width: 18rem;
    padding: 0.8rem 0.5rem;
    box-shadow: 13px 13px #ECEEF0;
    transition: 0.3s;
  }

  .unit-container:hover {
    border: 1.5px solid #C0CFC2;
    box-shadow: 13px 13px #C0CFC2;
  }

  /* container for all content */
  .content-container {
      /* margin-right: 6rem;
      margin-left: 6rem; */
      margin: 4rem 6rem;
      margin-left: 23rem;
  }

  


