body{margin: 0;}

.account-container{
    width: 40%;
    top: 3rem;
    position: fixed;
    background: grey;
    padding: 3rem 6rem;
    height: 100%;
    bottom: 0;
}

.favourites-container{
    margin-left: 40%;
    padding: 3rem 6rem;
}

/* change size of text input field */
input[type = "text"], input[type="email"], input[type="password"]{
    width: 100%;
    padding: 0.5rem;
    margin-top: 0.5rem;
}

input[type="number"]{
    width: 25%;
    padding: 0.5rem;
    margin-top: 0.5rem;
}

.form-section{
    padding-top: 2rem;
    width: 80%;
	margin-bottom: -2rem;
    display: inline-block;
}

/* button for sign-up and login */
.submit-button{
    background: #5da2d5;
    border-radius: 60px;
    border: none;
    padding: 1rem 3rem;
    display: inline-block;
    color: white;
    font-size: 1rem;
    transition: 0.5s;
    margin-top: 3rem;
}

.submit-button:active, .submit-button:hover, .submit-button:focus {
    color: lightgrey;
    background-color: #ffffff;
}