a {
	color: #788F7B;
}

a:hover, a:focus {
	color: #000000;
}

/* background image for Login Page*/
.page-background{
    width: 100%;
    padding-top: 0;
    padding-left: 10rem;
    padding-bottom: 0.5rem;
    padding-right: 0.5rem;
    background-image: url("../img/form2.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: absolute;
}

/* background image for Login Post*/
.error-page-background{
    width: 100%;
    padding: 10rem;
    background-image: url("../img/welcomepost.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: absolute;
}


/* -------- button styling -------- */
.button { 
    background: #C0CFC2;
    color: white;
    font-size: 20px;
    border-radius: 1rem;
    border: none;
    padding: 1rem 4rem;
    transition-property: background-color; 
    transition-duration: 0.5s; 
    transition-timing-function: ease-out; 
    text-align: center;
}

.button:active, .button:hover, .button:focus {
	color: #FFFFFF;
	background-color: #788F7B;
}

/* ----------------------------------- */




/* container for log-in form */
.form-container {  
    background: white;
    position: relative;
    width: 40rem;
    padding: 8rem 6rem;
    box-shadow: 13px 13px #ECEEF0;
    float: right;
}

/* change input textbox size */
input[type = "text"]{
    width:200px;
    height:30px;
}

/* change size of text input field */
input[type="email"], input[type="password"]{
    width: 100%;
    padding: 0.5rem;
    margin-top: 0.5rem;
}

/* padding for input boxes  */
.padding { 
    padding-top: 2rem;
}

/* padding for "forgot password?" */
.forgot-password-padding { 
    padding-top: 1rem;
}

/* lighter font weight */
.lighter-text {
    font-weight: 300;
}

/* center content in this container */
.alignment-container {
    text-align: center;
    padding-top: 3rem;
    padding-bottom: 5rem;
}

/* padding for "or" */
.or-padding { 
    padding-bottom: 2rem;
    font-weight: 300;
}

/* container for error message */
.message-container {
    background: white;
    position: relative;
    width: 50rem;
    height: auto;
    padding: 4rem 11.6rem;
    box-shadow: 13px 13px #ECEEF0;
    margin: 0 auto;
}

/* container for error message content */
.container-item { 
    margin-top: 2rem;
    margin-bottom: 1rem;
}

/* error message styling */
.message { 
    font-weight: 300;
    padding-bottom: 3rem;
    font-size: 20px;
}

/* "Not registered yet?" Styling */
.signup-message {
    font-weight: 300;
    padding-top: 1rem;
}


/* styling for "Sign up here" */
.signup-link {
    color: #788F7B;
}

.signup-link:hover, .signup-link:focus {
    color: #C0CFC2;
}
/* ----------------------------- */

#login_msg{
    font-size: 15px;
    font-family: Arial;
    color: red;
    font-weight: bold;
}