* { 
	box-sizing: border-box;
}

body{
	font-family: 'Roboto', sans-serif;
  font-weight: 400;
  margin: 0;
}

a {
	text-decoration: none;
	transition: 0.3s;
	color: #000000;
}

a:hover, a:focus {
	color: #788F7B;
}

h4{
	font-size: 1.1rem; 
	padding-bottom: 1rem;
	margin-bottom: 0;
	font-weight: 400;
}

/************** Navigation Styling *************************/
.main-nav{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	background: #ffffff;
  padding: 1rem 2.5rem;
  margin-bottom: 0.3rem;
}

/* Logo in Navigation */
.nav-logo{
  margin-left: 0;
  margin-top: 0.3rem;
	font-size: 28px;
  font-weight: 700;
}

.nav-logo a{
  color: #788F7B;
}

.nav-logo a:hover{
  color: #C0CFC2;
}

/* Navigation Links */
.nav-link-section{
	display: inline;
	flex: 3;
	text-align: right;
  padding-top: 0.8rem;
	font-size: 1rem;
}

.nav-link{
	color: #4E4E4E;
  padding-bottom: 0.2rem;
  margin-left: 2rem;
  margin-right: 1.2rem;
  font-weight: 300;
}

.nav-link:hover, .nav-link:focus {
  color: #C0CFC2;
  border-bottom: 0.2rem solid #C0CFC2;
}

/* *********************************************** */

/* navigation styling */
nav {
  margin-left: 1rem;
  margin-right: 1rem;
  padding: 0;
  overflow: hidden;
}



